[*.cs]

file_header_template = -----------------------------------------------------------------------\n (c) Copyright MumsWhoCode. All rights reserved.\n-----------------------------------------------------------------------
